*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Georgia;
}

/* index.html */

.index {
    width: 350px;
    height: 300px;
    margin: 200px auto;
    border: solid;
    padding: 40px 10px 0px 30px;
    background-color: #E6D8C3;
}

body {
    background: #F5F5F0;
}

div {
    width: 610px;
    margin: 100px auto;
    border: solid;
    padding: 0px 10px 0px 24px;
    background-color: #E6D8C3;
}

h1 {
    font-size: 40px ;
    color: black;
}

h2 {
    font-size: 30px;
    color: black;
}

p {
     line-height: 1.3;
}

p, 
ul, 
ol,
a {
    font-size: 18px;
    color: black;
}

li {
    margin: 6px 0px;
}